# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# cache
__pycache__/
.mypy_cache/
.ruff_cache/
*.egg-info/

# dataset
data/

# debug
*log*
wandb/

# deliverable
build/
dist/
out/
output/

# dependency
.venv/

# env file
.env*
!.env.example

# misc
.DS_Store
*.pem
